// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a#pageButton{
    font-size: 25px;
}
p{
    font-size: 20px;
}
body{
    padding-left: 10px;
}
.pagination{
    font-size: 15px;
    position: relative;
    left: 234px;
    top: -30px;
    margin: 0px 0 !important;
}